.start-search {
  .back-ground {
    background-color: #b3cedc;
    height: 250px;
    margin-top: -20px;
  }
  .container {
    margin-top: -150px;

    table {
      margin: 0;

      td {
        padding: 10px;

        &:first-child {
          background-color: #f3f4f4;
          width: 325px;
          font-weight: bold;

          input {
            margin-left: 10px;
            font-weight: normal;
            padding: 2px 5px;
            min-width: 200px;
          }
        }
      }
    }
    strong {
      font-size: $font-size-large;
    }
    span {
      margin-left: 20px;
      font-size: $font-size-small;
    }
    .clear-filters {
      text-align: right;
      margin-top: 40px;

      button {
        border: none;
        background: none;
        text-decoration: underline;
        font-size: $font-size-small;
      }
    }
    .row.whitey {
      border: 1px solid #cdcdcd;
    }
    .disabled {
      z-index: 99;
      background-color: rgb(205, 205, 205);
      position: relative; height: 130px;
      border-radius: 4px;
      opacity: 0.3;
    }
    .wp-search {
      position: relative;
      margin-top: -130px;
      min-height: 130px;
    }
    .panel-body {
      padding: 10px;

      select[name="advertisers"] {
        background-color: #dff2fc;
        margin-left: 20px;
        min-width: 250px;
        padding: 5px;
      }
    }
  }
  /* Customizando as tabs*/
  .filter-tab {
    margin-top: 40px;

    ul {
      background-color: #f3f4f4;
    }

    a i{
      color: #3cb878;
    }
    li > a,
    li.active > a,
    li.active > a:hover,
    li.active > a:focus {
      background-color: #f3f4f4;
      border: none;
      color: #555555;
      font-weight: bold;
    }
    .tab-content {
      display: none;
    }
  }
}

.search-filters {
  background: $results-bg;
  border: 2px solid $white;
  border-radius: $border-radius-base;
  margin: 0;

  .search-toolbar {
    background: $toolbar-bg;
    margin-bottom: 14px;
    padding: 10px 14px;
  }
  .result-count {
    font-weight: bold;
    color: $main-color;
  }
  .whitey-sel {
    margin-right: 40px;
  }
}
// Structure
.container + .container {
  margin-top: 30px;
}
.whitey {
  background: $white;
  margin: 0;
  border-radius: $border-radius-base;

  & > div {
    padding: 10px 16px;
  }
  .terms-box {
    border: 1px solid #e7e9e3;
    padding: 8px 8px 12px;
    display: inline-block;
    width: 860px;
  }
  .btn-primary {
    margin-top: 0.5rem;
  }
  .label.zone {
    text-transform: uppercase;
  }
  .search-labels {
    min-width: 110px;
    display: inline-block;
  }
  .filter-box {
    display: inline-block;
  }
  .filter-box + .filter-box {
    margin-left: 30px;
  }
}
.filter-label {
  font-size: $font-size-less;
  color: $light-gray;
}
.form-control.whitey-sel {
  display: inline-block;
  width: auto;
  margin-left: 16px;
}
.fort {
  font-weight: bold;
}

// Title
h2 {
  line-height: 0.3em;
  font-weight: bold;
}

// Advertiser dropdown
.advertiser-toggle {
  background: $white;
  padding: 9px 16px;
  border-radius: $border-radius-base;
  display: inline-block;

  .advertiser-label {
    margin-right: 16px;
  }
}

// Cart
.cart-button {
  max-width: 300px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  background: $white;
  border-radius: $border-radius-base;
  font-size: $font-size-med;
  float: right;

  .cart-icon,
  .cart-quantity,
  .cart-total,
  .cart-total span {
    display: inline-block;
  }
  .cart-quantity,
  .cart-total .price-value {
    background: $main-bg;
    border-radius: $border-radius-base;
    padding: 5px 12px 2px;
  }

  .cart-icon {
    background: $action-color;
    color: $white;
    padding: 10px 8px;
    font-size: 2rem;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .cart-quantity {
    margin: 0 16px 0 10px;
    min-width: 3rem;
    text-align: center;
  }
  .cart-total {
    float: right;
    margin: 10px 10px 0 10px;

    .price-label {
      font-weight: bold;
    }
    .price-value {
      min-width: 100px;
      text-align: right;
    }
  }
}


/* Card */
.panel-body {
  padding: 0px;

  table {
    width: 100%;
    margin: 0 0 10px 0;

    tr {

      &.top td {
        padding-top: 10px;
      }
      td {
        line-height: 24px;
        font-size: $font-size-small;

        & > div {
          background-color: #eceff1;
          padding: 5px;
          margin: 10px 0;
        }
        &:first-child {
          padding-left: 10px;
        }
        &.reg {
          line-height: 50px;
          font-weight: bold;

          & > i {
            color: $brand-primary;
          }
          & > span {
            text-decoration: underline;
          }
        }
        &.week-day {
          width: 60px;
          vertical-align: top;
        }
        &.added {
          padding: 0;
          vertical-align: top;
          position: relative;

          & > div {
            background-color: transparent;
            border-color: transparent $brand-primary transparent transparent;
            border-style: solid;
            border-width: 0 50px 50px 0;
            margin: 0;
            padding: 0;
            color: $white;
            position: absolute;
            top: 0;
            right: -1px;

            & > i {
              position: absolute;
              left: 24px;
            }
          }
        }
        button {
          margin-right: 10px;
        }
        .media-heading {
          font-weight: bold;
          margin-bottom: 20px;
        }
      }
    }
  }
}
.week {
  text-align: center;
  border-radius: 50%;
  height: $week-size;
  width: $week-size;
  color: $week-color;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
  background-color: $week-bg-color;
}
.padding-0 {
  padding: 0 !important;
}
.polychrome {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  float: left;
  opacity: 0.6;
}
.cian {
  background-color: #00FFFF !important;
  left: 0;
  z-index: 5;
}
.yellow {
  background-color: #ffff00 !important;
  left: -7px;
  z-index: 1;
}
.magent {
  background-color: #ff00ff !important;
  left: -27px;
  top: -6px;
  z-index: 3;
}
