// Insert here replaces, stupidity and other stuff
// we really need to - but can do better in the future

// Stupid replace
.btn {
  line-height: 1.42857143;
}

// Useful
.btn:not(.dropdown-toggle) {
  text-transform: lowercase;
}
h2 {
  text-transform: uppercase;
}

nav > .container {
  padding-left: 0;
  padding-right: 0;
}

.label {
  font-weight: normal;
  padding: .6em 1em .7em;
  font-size: $font-size-min;
  border-radius: $border-radius-base;
}

// Angular Bootstrap http://angular-ui.github.io/bootstrap/
// Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs etc.). But in AngularJS adding empty href attributes to link tags will cause unwanted route changes. This is why we need to remove empty href attributes from directive templates and as a result styling is not applied correctly. The remedy is simple, just add the following styling to your application:
.nav,
.pagination,
.carousel,
.panel-title a,
.panel-heading,
.list-group a {
  cursor: pointer;
}

#accordion {
  .panel-body { padding:0px; }
  .panel-body table tr td { padding-left: 15px }
  .panel-body .table {margin-bottom: 0px; }
}
