@import 'compass';

body {

  & > header {
    // needs latest Compass, add '@import "compass"' to your scss
    background-color: rgb(61, 71, 124); // Old browsers
    @include filter-gradient(#333, #666, vertical); // IE6-9
    @include background-image(linear-gradient(top, rgba(98, 103, 104, 1.0) 0%, rgba(77, 81, 82, 1.0) 100%));

    & > .container {
      padding: 0 15px 0;
      min-height: 60px;
      height: 115px;
    }
    img {
      margin-top: 30px;
    }
  }
}

