<div ng-controller="SearchMenuCtrl">

  <accordion close-others="false">
    <accordion-group is-open="status.open">
      <accordion-heading ng-click="status.open = !status.open">
          Jornais <i class="pull-right ficon" ng-class="{'ficon-down-open': status.open, 'ficon-right-open': !status.open}"></i>
      </accordion-heading>
      <div class="list-group">
        <a class="list-group-item" ng-repeat="item in news">{{item.name}} <span class="badge pull-right">{{item.count}}</span></a>
      </div>
    </accordion-group>
  </accordion>

  <accordion close-others="false">
    <accordion-group is-open="status.open">
      <accordion-heading ng-click="status.open = !status.open">
          Faixa Etária <i class="pull-right ficon" ng-class="{'ficon-down-open': status.open, 'ficon-right-open': !status.open}"></i>
      </accordion-heading>
      <div class="list-group">
        <a class="list-group-item" ng-repeat="item in ageGroups">{{item.name}} <span class="badge pull-right">{{item.count}}</span></a>
      </div>
    </accordion-group>
  </accordion>

  <accordion close-others="false">
    <accordion-group is-open="status.open">
      <accordion-heading ng-click="status.open = !status.open">
          Área de Atuação <i class="pull-right ficon" ng-class="{'ficon-down-open': status.open, 'ficon-right-open': !status.open}"></i>
      </accordion-heading>
      <div class="list-group">
        <a class="list-group-item" ng-repeat="item in regions">{{item.name}} <span class="badge pull-right">{{item.count}}</span></a>
      </div>
    </accordion-group>
  </accordion>

  <accordion close-others="false">
    <accordion-group is-open="status.open">
      <accordion-heading ng-click="status.open = !status.open">
          Dias da Semana <i class="pull-right ficon" ng-class="{'ficon-down-open': status.open, 'ficon-right-open': !status.open}"></i>
      </accordion-heading>
      <div class="list-group">
        <a class="list-group-item" ng-repeat="item in weekDays">{{item.name}} <span class="badge pull-right">{{item.count}}</span></a>
      </div>
    </accordion-group>
  </accordion>

</div>
