<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseNewspappers">
          <span>Jornais</span>
        </a>
      </h4>
    </div>
    <div id="collapseNewspappers" class="panel-collapse collapse in">
      <div class="list-group">
        <a href="#" class="list-group-item">Estadão <span class="badge pull-right">11</span></a>
        <a href="#" class="list-group-item">Folha <span class="badge pull-right">9</span></a>
        <a href="#" class="list-group-item">O Globo <span class="badge pull-right">5</span></a>
        <a href="#" class="list-group-item">The New York Times <span class="badge pull-right">1</span></a>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseRegions">
          <span>Área de Atuação</span>
        </a>
      </h4>
    </div>
    <div id="collapseRegions" class="panel-collapse collapse in">
      <div class="list-group">
        <a href="#" class="list-group-item">São Paulo <span class="badge pull-right">103</span></a>
        <a href="#" class="list-group-item">Rio de Janeiro <span class="badge pull-right">53</span></a>
        <a href="#" class="list-group-item">Ceará <span class="badge pull-right">14</span></a>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseWeekdays">
          <span>Dia da Semana</span>
        </a>
      </h4>
    </div>
    <div id="collapseWeekdays" class="panel-collapse collapse in">
      <div class="list-group">
        <a href="#" class="list-group-item">Segunda <span class="badge pull-right">2</span></a>
        <a href="#" class="list-group-item">Terça <span class="badge pull-right">1</span></a>
        <a href="#" class="list-group-item">Quarta <span class="badge pull-right">2</span></a>
        <a href="#" class="list-group-item">Quinta <span class="badge pull-right">3</span></a>
        <a href="#" class="list-group-item">Sexta <span class="badge pull-right">6</span></a>
        <a href="#" class="list-group-item">Sábado <span class="badge pull-right">12</span></a>
        <a href="#" class="list-group-item">Domingo <span class="badge pull-right">22</span></a>
      </div>
    </div>
  </div>

</div>
