<div class="container search-results">
  <div class="row">
    <div class="col-md-3">
      <search-menu></search-menu>
    </div>
    <div class="col-md-9">

      <div class="section">
        <form action="">
          <div class="input-group">
            <label for="search" class="sr-only">Busca</label>
            <input type="text" id="search" name="search" class="form-control input-lg" placeholder="Digite a região, área de atuação ou qualquer termo e busque!">
            <span class="input-group-btn">
              <button class="btn btn-primary input-lg" type="button">Buscar</button>
            </span>
          </div>
        </form>
      </div>

      <div class="section row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                <a href="#" class="media-left">
                  <img src="http://placehold.it/130x100" alt="">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">
                    Estadão
                  </h4>
                  Caderno: Esportes<br>
                  Formato: Meia Página<br>
                  Dias da Semana: Domingos<br>
                  Cor: Cromia
                </div>
              </div>

            </div>
            <div class="panel-footer">
              R$ <span class="price">5.000,00</span>
              <button type="button" class="btn btn-primary" ng-click="addToCart(5000)">Adicionar</button>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                <a href="#" class="media-left">
                  <img src="http://placehold.it/130x100" alt="">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">
                    O Globo
                  </h4>
                  <span class="label label-default">Caderno</span> Brasil<br>
                  <span class="label label-default">Formato</span> Rodapé Alto<br>
                  <span class="label label-default">Dia</span> Segundas<br>
                  <span class="label label-default">Cor</span> PB
                </div>
              </div>

            </div>
            <div class="panel-footer">
              R$ <span class="price">5.000,00</span>
              <button type="button" class="btn btn-primary">Adicionar</button>
            </div>
          </div>
        </div>
      </div>


      <div class="section row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                <a href="#" class="media-left">
                  <img src="http://placehold.it/130x100" alt="">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">
                    Folha de São Paulo
                  </h4>
                  <span class="label label-default">Caderno</span> Ilustrada<br>
                  <span class="label label-default">Formato</span> Meia Página<br>
                  <span class="label label-default">Dia</span> Domingos<br>
                  <span class="label label-default">Cor</span> Cromia
                </div>
              </div>
            </div>
            <div class="panel-footer">
              R$ <span class="price">5.000,00</span>
              <button type="button" class="btn btn-primary">Adicionar</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                <a href="#" class="media-left">
                  <img src="http://placehold.it/130x100" alt="">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">
                    Extra
                  </h4>
                  Caderno: Política<br>
                  Formato: Anúncio 3 x 12,7<br>
                  Dias da Semana: Terças<br>
                  Cor: Cromia
                </div>
              </div>

            </div>
            <div class="panel-footer">
              R$ <span class="price">5.000,00</span>
              <button type="button" class="btn btn-primary">Adicionar</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
