<div class="container">
  <div class="row">
    <div class="col-md-3">
      Filtros
    </div>
    <div class="col-md-9">
      <form action="">
        <div class="input-group">
          <label for="search" class="sr-only">Busca</label>
          <input type="text" id="search" name="search" class="form-control" placeholder="Digite a região, área de atuação ou qualquer termo e busque!">
          <span class="input-group-addon">Buscar</span>
        </div>
      </form>
    </div>
  </div>
</div>
