<div class="start-search">
  <div class="back-ground"></div>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>Anunciante</strong>
        <select name="advertisers" ng-bind="test()">
          <option value="0">selecione</option>
          <option value="1">Adv1</option>
          <option value="2">Adv2</option>
        </select>
      </div>
    </div>
    <div class="disabled"></div>
    <div class="panel panel-default wp-search">
      <div class="panel-body">
        <strong> Busca de Ofertas </strong>
        <span>Preencha ao menos um dos campos para prosseguir</span>
        <tabset justified="true" class="tabset filter-tab">
          <tab>
            <tab-heading>
              <i class="ficon ficon-bookmarks"></i> categoria
            </tab-heading>

            <div class="clear-filters">
              <button class="btn">limpar filtros</button>
            </div>
            <div class="row whitey">
              <table>
                <tr>
                  <td>
                    *categoria
                    <input type="text" placeholder="digite ou selecione">
                  </td>
                  <td>
                    <span class="label label-info">jornal A</span>
                    <span class="label label-info">jornal B</span>
                    <span class="label label-info">1/2 pagina</span>
                    <span class="label label-info">todos os cadernos</span>
                  </td>
                </tr>
              </table>
            </div>

          </tab>
          <tab>
            <tab-heading>
              <i class="ficon ficon-login"></i> determinação
            </tab-heading>

            <div class="clear-filters">
              <button class="btn">limpar filtros</button>
            </div>
            <div class="row whitey">
              <table>
                <tr>
                  <td>
                    *determinação
                    <input type="text" placeholder="digite ou selecione">
                  </td>
                  <td><span class="label label-info">capa</span></td>
                </tr>
              </table>
            </div>

          </tab>
          <tab>
            <tab-heading>
              <i class="ficon ficon-calendar"></i> dia da semana
            </tab-heading>

            <div class="clear-filters">
              <button class="btn">limpar filtros</button>
            </div>
            <div class="row whitey">
              <table>
                <tr>
                  <td>
                    *dia da semana
                    <input type="text" placeholder="digite ou selecione">
                  </td>
                  <td>
                    <span class="label label-info">sexta</span>
                    <span class="label label-info">sabado</span>
                    <span class="label label-info">domingo</span>
                  </td>
                </tr>
              </table>
            </div>
          </tab>
          <tab>
            <tab-heading>
              <i class="ficon ficon-location"></i> região
            </tab-heading>

            <div class="clear-filters">
              <button class="btn">limpar filtros</button>
            </div>
            <div class="row whitey">
              <table>
                <tr>
                  <td>
                    *região
                    <input type="text" placeholder="digite ou selecione">
                  </td>
                  <td></td>
                </tr>
              </table>
            </div>

          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<div class="hide">
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Busca de Ofertas</h2>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="advertiser-toggle">
        <span class="advertiser-label">Anunciante</span>
        <!-- Single button -->
        <div class="btn-group" dropdown is-open="status.isopen">
          <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            Predicta <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Infoglobo</a></li>
            <li><a href="#">Fast Ads</a></li>
            <li><a href="#">Outro anunciante</a></li>
            <li class="divider"></li>
            <li><a href="#">Ver restante</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="cart-button clickable" ng-click="goCart()">
        <span class="cart-icon">
          <i class="ficon ficon-basket"></i>
        </span>
        <span class="cart-quantity">
          <span>1</span>
        </span>
        <span class="cart-total">
          <span class="price-label">R$</span>
          <span class="price-value">{{ cartTotal | currency:"" }}</span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row whitey">
    <div class="col-md-12">
      <span class="terms-label fort search-labels">Seus critérios</span>
      <div class="terms-box boxed">
        <span class="label label-info">jornal A</span>
        <span class="label label-info">jornal B</span>
        <span class="label label-info">1/2 pagina</span>
        <span class="label label-info">todos os cadernos</span>
      </div>
      <button type="button" class="btn btn-primary pull-right" ng-click="modal(new-search)">Nova busca <i class="ficon ficon-down-open"></i></button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row whitey">
    <div class="col-md-12">
      <span class="filter-label fort search-labels">Filtros</span>

      <div class="filter-box">
        <span class="filter-label">preco</span>
        <select name="" id="" class="form-control whitey-sel">
          <option value="0">todos</option>
          <option value="" selected="selected">até R$1.000,00</option>
          <option value="">de R$1.000,00 até R$20.000,00</option>
          <option value="">de 20.000,00 até R$100.000,00</option>
          <option value="">de 100.000,00 em diante</option>
        </select>
      </div>

      <div class="filter-box">
        <span class="filter-label">dias da semana</span>
        <select name="" id="" class="form-control whitey-sel">
          <option value="">todos os dias</option>
          <option value="" selected="selected">Domingo</option>
          <option value="">Segunda</option>
          <option value="">Terça</option>
          <option value="">Dona Mingo</option>
        </select>
      </div>

      <div class="filter-box">
        <span class="filter-label">cores</span>
        <select name="" id="" class="form-control whitey-sel">
          <option value="">Cromia</option>
          <option value="">PB</option>
          <option value="">Rosa Nike XOKS</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div ng-include="results" ng-controller="ResultsCtrl" class="container"></div>
</div>
