<div class="start-search">
  <div class="panel panel-default">
    <div class="panel-body form-inline">
      <strong>Anunciante</strong>
      <select name="advertisers" ng-model="isAdvertiser" class="form-control">
        <option value="">Selecione um Anunciante</option>
        <option ng-repeat="advertiser in advertisers | orderBy:'description'" value="{{ advertiser.id }}">{{ advertiser.description }}</option>
      </select>
    </div>
  </div>
  <div class="panel panel-default wp-search">
<!--   <div class="panel panel-default wp-search" ng-class="{ 'disabled': !isAdvertiser }">
 -->
    <div class="panel-body">
      <strong>Busca de Ofertas</strong>
      <span>Preencha ao menos um dos campos para prosseguir</span>
      <tabset justified="true" class="tabset filter-tab">
        <tab ng-click="setFilter('categories')">
          <tab-heading>
            <i class="ficon" ng-class="filterSelected == 'categories' ? 'ficon-dot-circled' : 'ficon-circle-empty'"></i>
            <i class="ficon ficon-bookmarks"></i> categoria
          </tab-heading>

          <div class="row whitey">
            <div class="col-md-3">* categoria</div>
            <div class="col-md-9">
              <div multi-select input-model="categories" button-label="description" item-label="description" tick-property="ticked"></div>
            </div>
          </div>

          <div class="row whitey">
            <div class="col-md-3">dia da semana</div>
            <div class="col-md-9">
              <div multi-select input-model="weekdays" button-label="description" item-label="description" tick-property="ticked"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-primary" ng-click="ok()">Buscar</button>
              <button type="button" class="btn btn-default" ng-click="closeModal()">Sair</button>
            </div>
          </div>

        </tab>

        <tab ng-click="setFilter('determination')">
          <tab-heading>
            <i class="ficon" ng-class="filterSelected == 'determination' ? 'ficon-dot-circled' : 'ficon-circle-empty'"></i>
            <i class="ficon ficon-login"></i> determinação
          </tab-heading>

          <div class="row whitey">
            <div class="col-md-3">* determinação</div>
            <div class="col-md-9">
              <div multi-select input-model="determinations" button-label="description" item-label="description" tick-property="ticked"></div>
            </div>
          </div>

          <div class="row whitey">
            <div class="col-md-3">dia da semana</div>
            <div class="col-md-9">
              <div multi-select input-model="weekdays" button-label="description" item-label="description" tick-property="ticked"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-primary" ng-click="ok()">Buscar</button>
              <button type="button" class="btn btn-default" ng-click="closeModal()">Sair</button>
            </div>
          </div>

        </tab>
        <tab ng-click="setFilter('weekday')">
          <tab-heading>
            <i class="ficon" ng-class="filterSelected == 'weekday' ? 'ficon-dot-circled' : 'ficon-circle-empty'"></i>
            <i class="ficon ficon-calendar"></i> dia da semana
          </tab-heading>

          <div class="row whitey">
            <div class="col-md-3">* dia da semana</div>
            <div class="col-md-9">
              <div multi-select input-model="weekdays" button-label="description" item-label="description" tick-property="ticked"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-primary" ng-click="ok()">Buscar</button>
            </div>
          </div>
        </tab>
        <tab ng-click="setFilter('region')">
          <tab-heading>
            <i class="ficon" ng-class="filterSelected == 'region' ? 'ficon-dot-circled' : 'ficon-circle-empty'"></i>
            <i class="ficon ficon-location"></i> região
          </tab-heading>

          <div class="row whitey">
            <div class="col-md-3">* região</div>
            <div class="col-md-9">
              <div multi-select input-model="regions" button-label="description" item-label="description" tick-property="ticked"></div>
            </div>
          </div>

          <div class="row whitey">
            <div class="col-md-3">* dia da semana</div>
            <div class="col-md-9">
              <div multi-select input-model="weekdays" button-label="description" item-label="description" tick-property="ticked"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-primary" ng-click="ok()">Buscar</button>
              <button type="button" class="btn btn-default" ng-click="closeModal()">Sair</button>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
