<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Carrinho | Proposta</h2>
    </div>
    <div class="col-md-4">
      <div class="cart-button">
        <span class="cart-icon">
          <i class="ficon ficon-basket"></i>
        </span>
        <span class="cart-quantity">
          <span>1</span>
        </span>
        <span class="cart-total">
          <span class="price-label">R$</span>
          <span class="price-value">{{ cartTotal | currency:"" }}</span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container">

  <div class="panel panel-default items-by-newspaper">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-8"><i class="ficon ficon-doc-1"></i> Jornal : Estado de São Paulo</div>
        <div class="col-md-3"><button class="btn btn-info"><i class="ficon ficon-comment"></i>observações gerais</button></div>
        <div class="col-md-1 text-right"><button class="btn btn-info"><i class="ficon ficon-trash"></i></button></div>
      </div>
    </div>
    <div class="panel-body">
      <div class="resume">
        <table>
          <tr>
            <td><strong>características</strong></td>
            <td>caderno<br><span class="label label-info">Esportes</span></td>
            <td>formato<br><span class="label label-info">meia página</span></td>
            <td>categoria<br><span class="label label-info">Esportes</span></td>
            <td>dia da semana<br><span class="label label-info">domingo</span></td>
            <td>determinação<br><span class="label label-info">capa</span></td>
            <td>região<br><span class="label label-info"><button>ver regiões</button></span></td>
            <td>
              cor<br>
              <div class="polychrome cian"></div>
              <div class="polychrome yellow"></div>
              <div class="polychrome magent"></div>
            </td>
            <td>quantidade<br><select><option>1</option></select></td>
          </tr>
        </table>
      </div>

      <div>
        <div class="row head">
          <div class="col-md-7"><strong>itens adicionados</strong></div>
          <div class="col-md-1">observações</div>
          <div class="col-md-2 text-center">*data de publicação</div>
          <div class="col-md-2 text-center">valor</div>
        </div>

        <div class="row body">
          <div class="col-md-7"><button class="btn btn-info"><i class="ficon ficon-trash"></i></button> Anúncio 1</div>
          <div class="col-md-1 text-center"><button class="btn btn-info"><i class="ficon ficon-comment"></i></button></div>
          <div class="col-md-2 text-center"><i class="ficon ficon-calendar"></i><input type="text" size="8"></div>
          <div class="col-md-2 text-center"><strong>100.000,00</strong></div>
        </div>
        <div class="row body">
          <div class="col-md-7"><button class="btn btn-info"><i class="ficon ficon-trash"></i></button> Anúncio 1</div>
          <div class="col-md-1 text-center"><button class="btn btn-info"><i class="ficon ficon-comment"></i></button></div>
          <div class="col-md-2 text-center"><i class="ficon ficon-calendar"></i><input type="text" size="8"></div>
          <div class="col-md-2 text-center"><strong>100.000,00</strong></div>
        </div>
        <div class="row foot">
          <div class="col-md-12 text-right"><strong>Total R$</strong><span class="label"> 20.000,00</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default items-by-newspaper">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-8"><i class="ficon ficon-doc-1"></i> Jornal : Estado de São Paulo</div>
        <div class="col-md-3"><button class="btn btn-info"><i class="ficon ficon-comment"></i>observações gerais</button></div>
        <div class="col-md-1 text-right"><button class="btn btn-info"><i class="ficon ficon-trash"></i></button></div>
      </div>
    </div>
    <div class="panel-body">
      <div class="resume">
        <table>
          <tr>
            <td><strong>características</strong></td>
            <td>caderno<br><span class="label label-info">Esportes</span></td>
            <td>formato<br><span class="label label-info">meia página</span></td>
            <td>categoria<br><span class="label label-info">Esportes</span></td>
            <td>dia da semana<br><span class="label label-info">domingo</span></td>
            <td>determinação<br><span class="label label-info">capa</span></td>
            <td>região<br><span class="label label-info"><button>ver regiões</button></span></td>
            <td>
              cor<br>
              <div class="polychrome cian"></div>
              <div class="polychrome yellow"></div>
              <div class="polychrome magent"></div>
            </td>
            <td>quantidade<br><select><option>1</option></select></td>
          </tr>
        </table>
      </div>

      <div>
        <div class="row head">
          <div class="col-md-7"><strong>itens adicionados</strong></div>
          <div class="col-md-1">observações</div>
          <div class="col-md-2 text-center">*data de publicação</div>
          <div class="col-md-2 text-center">valor</div>
        </div>

        <div class="row body">
          <div class="col-md-7"><button class="btn btn-info"><i class="ficon ficon-trash"></i></button> Anúncio 1</div>
          <div class="col-md-1 text-center"><button class="btn btn-info"><i class="ficon ficon-comment"></i></button></div>
          <div class="col-md-2 text-center"><i class="ficon ficon-calendar"></i><input type="text" size="8"></div>
          <div class="col-md-2 text-center"><strong>100.000,00</strong></div>
        </div>
        <div class="row body">
          <div class="col-md-7"><button class="btn btn-info"><i class="ficon ficon-trash"></i></button> Anúncio 1</div>
          <div class="col-md-1 text-center"><button class="btn btn-info"><i class="ficon ficon-comment"></i></button></div>
          <div class="col-md-2 text-center"><i class="ficon ficon-calendar"></i><input type="text" size="8"></div>
          <div class="col-md-2 text-center"><strong>100.000,00</strong></div>
        </div>
        <div class="row foot">
          <div class="col-md-12 text-right"><strong>Total R$</strong><span class="label"> 20.000,00</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="value-purchase">
    <span>Total da compra
      <span>40.000,00</span>
    </span>
  </div>

  <div class="actions">
    <button type="button" class="btn btn-primary" aria-expanded="false" ng-click="goSearch()">
      cancelar
    </button>
    <button type="button" class="btn btn-primary" aria-expanded="false" ng-click="goSearch()">
      enviar proposta
    </button>
  </div>

</div>
