<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Proposta</h2>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" aria-expanded="false" ng-click="goSearch()">
          Continuar Comprando
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="cart-button">
        <span class="cart-icon">
          <i class="ficon ficon-basket"></i>
        </span>
        <span class="cart-quantity">
          <span>1</span>
        </span>
        <span class="cart-total">
          <span class="price-label">R$</span>
          <span class="price-value">{{ cartTotal | currency:"" }}</span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container">

  <div class="advertiser-toggle">
    <span class="advertiser-label">Associe a proposta a uma campanha ou crie uma nova</span>
    <!-- Single button -->
    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        Campanha <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Campanha ABC</a></li>
        <li><a href="#">Campanha GHI</a></li>
        <li><a href="#">Campanha XYZ</a></li>
        <li class="divider"></li>
        <li><a href="#">Nova Campanha</a></li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default items-by-newspaper">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-8"># Jornal ABC</div>
        <div class="col-md-1"><strong>valor total</strong></div>
        <div class="col-md-2">R$ 1.000,00</div>
        <div class="col-md-1">#</div>
      </div>
    </div>
    <div class="panel-body">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-8">cadernos <strong>Anúncio futebol</strong></div>
            <div class="col-md-2"><strong>valor unitário</strong></div>
            <div class="col-md-2">R$ 1.000,00</div>
          </div>
        </div>
        <div class="panel-body">
          <table width="100%" class="table">
            <thead>
              <tr>
                <td colspan="2">Formato</td>
                <td>Cor</td>
                <td>Atuação</td>
                <td>Dia da semana</td>
                <td>Categoria</td>
                <td>Sexo</td>
                <td>Quantidade</td>
                <td>Total</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">meia página</td>
                <td>cromia</td>
                <td>são paulo</td>
                <td>domingo</td>
                <td>esportes</td>
                <td>feminino</td>
                <td><input type="text" size="3"></td>
                <td>1.000,00</td>
              </tr>
              <tr>
                <td>datas</td>
                <td><input type="text" size="8"></td>
                <td><input type="text" size="8"></td>
                <td><input type="text" size="8"></td>
                <td colspan="5"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default items-by-newspaper">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-8"># Jornal XYZ</div>
        <div class="col-md-1"><strong>valor total</strong></div>
        <div class="col-md-2">R$ 1.000,00</div>
        <div class="col-md-1">#</div>
      </div>
    </div>
    <div class="panel-body">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-8">cadernos <strong>Anúncio futebol</strong></div>
            <div class="col-md-2"><strong>valor unitário</strong></div>
            <div class="col-md-2">R$ 1.000,00</div>
          </div>
        </div>
        <div class="panel-body">
          <table width="100%" class="table">
            <thead>
              <tr>
                <td colspan="2">Formato</td>
                <td>Cor</td>
                <td>Atuação</td>
                <td>Dia da semana</td>
                <td>Categoria</td>
                <td>Sexo</td>
                <td>Quantidade</td>
                <td>Total</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">meia página</td>
                <td>cromia</td>
                <td>são paulo</td>
                <td>domingo</td>
                <td>esportes</td>
                <td>feminino</td>
                <td><input type="text" size="3"></td>
                <td>1.000,00</td>
              </tr>
              <tr>
                <td>datas</td>
                <td><input type="text" size="8"></td>
                <td><input type="text" size="8"></td>
                <td><input type="text" size="8"></td>
                <td colspan="5"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default resume">
    <div class="panel-heading"><strong>Resumo</strong></div>
    <div class="panel-body">
      <div class="categories">
        Geografia<div>São Paulo</div>
      </div>
      <div class="categories">
        Faixa etária<div>+ 25 anos</div>
      </div>
    </div>
  </div>

  <div class="actions">
    <button type="button" class="btn btn-primary" aria-expanded="false" ng-click="goSearch()">
      cancelar
    </button>
    <button type="button" class="btn btn-primary" aria-expanded="false" ng-click="goSearch()">
      enviar proposta
    </button>
  </div>

</div>
