<!--Login-->
<div>
  <div class="header"><img src="../images/logo_market_place.png"></div>
  <div class="login">
    <form>
      <input type="text" placeholder="e-mail">
      <input type="password" placeholder="senha">
      <button type="button" class="btn btn-primary" ng-click="">Entrar</button>
    </form>
    <a href="/account/info">Esqueci a senha</a>
  </div>
</div>


<!--Esqueci minha senha-->
<div>
  <div class="header"><img src="../images/logo_market_place.png"></div>
  <div class="login">
    <form class="reset-pass">
      <h3>Esqueceu sua senha?</h3>
      <div>
        <p>Digite o endereço de e-mail usado para criar sua conta.</p>
        <p>Vamos localizar suas informações e lhe enviar um e-mail com um link para redefinir sua senha.</p>
      </div>
      <fieldset>
        <input type="text" placeholder="e-mail">
        <button type="button" class="btn btn-primary" ng-click="">Enviar</button>
      </fieldset>

    </form>
  </div>
</div>


<!--Email enviado-->
<div>
  <div class="header"><img src="../images/logo_market_place.png"></div>
  <div class="login">
    <form class="reset-pass">
      <h3>Esqueceu sua senha?</h3>
      <div>
        <p>Confira seu e-mail! Enviamos um link para que você possa redefinir sua senha.</p>
        <p>Este e-mail contém um link que o levará para uma página onde você pode criar uma nova senha.</p>
        <p>Se você não receber este e-mail dentro de alguns minutos, verifique sua pasta de spam, ou envie um outro pedido.</p>
      </div>
      <fieldset>
        <button type="button" class="btn btn-info" ng-click="">enviar o email novamente</button>
        <button type="button" class="btn btn-primary" ng-click="">login</button>
      </fieldset>

    </form>
  </div>
</div>


<!--Definir senha-->
<div>
  <div class="header"><img src="../images/logo_market_place.png"></div>
  <div class="login">
    <form class="reset-pass new-pass">
      <h3>Definir senha</h3>
      <strong>Por favor defina uma nova senha</strong>
      <div>
        <p>Para que sua senha seja válida ela deve ter no mínimo:</p>
        <p>8 caracteres - uma letra maíuscula - uma letra minúscula - um número.</p>
      </div>
      <table>
        <tr><td>Senha</td><td>Confirme a senha</td></tr>
        <tr><td><input type="password" placeholder="senha"></td><td><input type="password" placeholder="senha"></td></tr>
      </table>
      <fieldset>
        <button type="button" class="btn btn-info" ng-click="">cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="">salvar</button>
      </fieldset>

    </form>
  </div>
</div>




