<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>ÚLTIMAS COMPRAS</h2>
    </div>
  </div>
</div>

<div class="container filters">
  <div class="row">
    <div class="col-md-9">
      <div class="row whitey">
        <!-- <div class="col-md-4"> -->
          <div class="filter-box">
            <span class="filter-label fort search-labels">Vendas</span>
            <select class="form-control whitey-sel" name="">
              <option>Janeiro</option>
              <option>Fevereiro</option>
              <option>Março</option>
              <option>Abril</option>
              <option>Maio</option>
              <option>Junho</option>
              <option>Julho</option>
              <option>Agosto</option>
              <option>Setembro</option>
              <option>outubro</option>
              <option>Novembro</option>
              <option>Dezembro</option>
            </select>
             <select class="form-control whitey-sel" name="">
              <option>2014</option>
            </select>
          </div>
          <div class="filter-box">
            <span class="filter-label">Jornal</span>
            <select class="form-control whitey-sel" name="">
              <option>Todos</option>
            </select>
          </div>
          <div class="filter-box">
            <span class="filter-label">Anunciante</span>
            <select class="form-control whitey-sel" name="">
              <option>Todos</option>
            </select>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row whitey">
        <div class="filter-box" style="padding: 10px">
          <span class="filter-label">total<br>mensal</span>
          <span style="background-color: #e1faed; margin-left: 5px; padding: 8px 5px; position: relative; top: -8px;">
            R$<input type="text" value="2.0000.0000,00" style="background: none; border: none; text-align: right" readonly="readonly">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container infos-purchase">
  <div>
    Informações acumuladas até o dia 10/08 <button class="btn btn-info"><i class="ficon ficon-file-pdf"></i></button>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row line-info-purchase">
        <div class="col-md-6 description">
          <i class="ficon ficon-plus-circled"></i>
          <strong>1253 | Proposta | 14/12/2014</strong>
        </div>
        <div class="col-md-4 adv-name">anunciante <strong>Lalala</strong></div>
        <div class="col-md-2 value"><span style="background-color: #f2f2f2;">R$ <span>50.000,00</span></span></div>
      </div>
      <div class="detail-purchase hide">
        <div class="by-newspape">
          <div>
            <i class="ficon ficon-doc-1"></i> Estado de São Paulo
          </div>
          <table>
            <thead>
              <tr>
                <td>caderno</td>
                <td>formato</td>
                <td>determinação</td>
                <td>data de publicação</td>
                <td>dia da semana</td>
                <td>valor</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Esportes</td>
                <td>Meia página</td>
                <td>Capa</td>
                <td>22/11/2014</td>
                <td>segunda</td>
                <td>R$ 20.000,00</td>
              </tr>
              <tr>
                <td>Esportes</td>
                <td>Meia página</td>
                <td>Capa</td>
                <td>22/11/2014</td>
                <td>segunda</td>
                <td>R$ 20.000,00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="by-newspape">
          <div>
            <i class="ficon ficon-doc-1"></i> Estado de São Paulo 2
          </div>
          <table>
            <thead>
              <tr>
                <td>caderno</td>
                <td>formato</td>
                <td>determinação</td>
                <td>data de publicação</td>
                <td>dia da semana</td>
                <td>valor</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Esportes</td>
                <td>Meia página</td>
                <td>Capa</td>
                <td>22/11/2014</td>
                <td>segunda</td>
                <td>R$ 20.000,00</td>
              </tr>
              <tr>
                <td>Esportes</td>
                <td>Meia página</td>
                <td>Capa</td>
                <td>22/11/2014</td>
                <td>segunda</td>
                <td>R$ 20.000,00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row line-info-purchase">
        <div class="col-md-6 description">
          <i class="ficon ficon-minus-circled"></i>
          <strong>1253 | Proposta | 14/12/2014</strong>
        </div>
        <div class="col-md-4 adv-name">anunciante <strong>Lalala</strong></div>
        <div class="col-md-2 value"><strong>R$ <span>50.000,00</span></strong></div>
      </div>
      <div class="detail-purchase">
        <div class="by-newspape">
          <div>
            <i class="ficon ficon-doc-1"></i> Estado de São Paulo
          </div>
          <table>
            <thead>
              <tr>
                <td>caderno</td>
                <td>formato</td>
                <td>determinação</td>
                <td>data de publicação</td>
                <td>dia da semana</td>
                <td>valor</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Esportes</td>
                <td>Meia página</td>
                <td>Capa</td>
                <td>22/11/2014</td>
                <td>segunda</td>
                <td>R$ 20.000,00</td>
              </tr>
              <tr>
                <td>Esportes</td>
                <td>Meia página</td>
                <td>Capa</td>
                <td>22/11/2014</td>
                <td>segunda</td>
                <td>R$ 20.000,00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="by-newspape">
          <div>
            <i class="ficon ficon-doc-1"></i> Estado de São Paulo 2
          </div>
          <table>
            <thead>
              <tr>
                <td>caderno</td>
                <td>formato</td>
                <td>determinação</td>
                <td>data de publicação</td>
                <td>dia da semana</td>
                <td>valor</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Esportes</td>
                <td>Meia página</td>
                <td>Capa</td>
                <td>22/11/2014</td>
                <td>segunda</td>
                <td>R$ 20.000,00</td>
              </tr>
              <tr>
                <td>Esportes</td>
                <td>Meia página</td>
                <td>Capa</td>
                <td>22/11/2014</td>
                <td>segunda</td>
                <td>R$ 20.000,00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
